.watch-container .card {
  min-width: 280px;
  margin-right: 20px;
}

.watch-container {
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  scroll-behavior: smooth;
  margin-left: 8vw;
  width: 1200px;
  background-color: rgb(255, 255, 255);
}
.watch-container .top {
  border: 0.5px solid rgb(215, 214, 214);
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f6f6f6;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #acacac;
  border-radius: 5px;
}
